<header id="content-header">
  <h1>Registrations for <%= link_to @event.name, @event %></h1>
</header>

<ol id="registrations">
  <% @registrations.each do |r| %>
    <li>
   <!--  link to registration name and registration object to get the user to go by convention to user profile page -->
      <%= link_to r.user.name, r.user %>
      <span class="date">
        <%= time_ago_in_words(r.created_at) %> ago
      </span>
      (<%= r.how_heard %>)    
    </li>
  <% end %>
</ol>